.MagicZoom img {

/*border: 0 !important;

padding: 0 !important;

margin: 0 !important;
*/
}



/* Style of zoomed window */

.MagicZoomBigImageCont {

border: 1px solid #999;

}



/* Style of header, activated with "title" attribute in <a> tag */

.MagicZoomHeader {

font-size: 8pt !important;

line-height: normal !important;

color: #fff;

background: #666;

text-align: center !important;

}



/* Style of small square under mouse */

.MagicZoomPup {

border: 1px solid #aaa;

background: #fff;

cursor: move;

}



/* Style of message box while image is loading */

.MagicZoomLoading {

border: 1px solid #ccc;

background: #fff url(img/ajax-loader.gif) no-repeat 2px 50%;

padding: 4px 4px 4px 24px !important;

margin: 0;

text-decoration: none;

text-align: left;

font-size: 8pt;

font-family: sans-serif;

color: #444;

}